<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "hi.jpg" %>
  </div>

  <div id="content">
    <h1> It's Mr.Stick Figure </h1>
    <p>
        MOTIVATIONThe 10 Best Short
        Moral Stories With Valuable
        LessonsAvatar By Dan Western 
        The 10 Best Short Moral Stories
        SHARE TWEET
        Stories that have morals and
        messages behind them are always
        powerful. In fact, it’s crazy just
        how powerful a 200 word story canbe.
        Our last article of short stories became so popular, that we decided to create another list, in which every story has a simple moral behind it.
        The 10 Best Short Moral Stories
        Some of these stories are very short and basic. In fact some are so basic they’re most likely featured in children’s books somewhere. However, the strength of the message remains the same.
        Here’s some more of the best short moral stories:
        1. An Old Man Lived in the Village
        Short Moral Stories - An Old Man
        An old man lived in the village.
        He was one of the most unfortunate
        people in the world. The whole 
        village was tired of him; he was 
        always gloomy, he constantly 
        complained and was always in a badod.
    </p>
  </div>

</div>